<div class="about-content">
    <div class="about-banner">
        <h2>We have the experince. We have the capacity to develop and design for all your needs</h2>
    </div>
    <div class="who-we-are mt-2">
        <h1>WHO WE ARE</h1><hr/>
        <p>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsumlorem ipsum v lorem ipsum lorem ipsum lorem ipsum lorem ipsum v
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsumlorem ipsum
        </p>
        <p>
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsumlorem ipsum v lorem ipsum lorem ipsum lorem ipsum lorem ipsum v
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsumlorem ipsum
        </p>
    </div>
    <div class="solutions mt-3">
        <div>
            <h3>SOLUTIONS FOR BUSINESS</h3>
            <p>lorem opsum lorem opsum lorem opsum lorem opsum lorem opsum lorem opsum lorem opsum lorem opsum lorem opsum</p>
        </div>
        <div class="d-flex justify-content-between mx-3">
            <div>
                <h4>Mission</h4>
                <p>lorem ipsum lorem ipsum lorem ipsumlorem ipsum</p>
            </div>
            <div>
                <h4>Vission</h4>
                <p>lorem ipsum lorem ipsum lorem ipsumlorem ipsum</p>
            </div>
            <div>
                <h4>Core Values</h4>
                <p>lorem ipsum lorem ipsum lorem ipsumlorem ipsum</p>
            </div>
        </div>
    </div>
</div>