<div class="contact-content">
    <div class="about-banner">
        <h2>For support queries please get in touch with us</h2>
        <P>Please reach out to us in case of any questions and concerns and we shall give you the help you need.</p>
    </div>
    <div class="d-flex justify-content-between p-5">
        <div class="contact-form">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputEmail4">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="inputPhone">Phone number</label>
                    <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div>
            <h3>Contact Details</h3>
            <h5>OUR EMAILS</h5>
            <p>odavolt.tect@gmail.com</p>
            <h5>PHONE CONTACTS</h5>
            <p>+256702600053</p>
            <p>+256702600053</p>
        </div>
    </div>
</div>