<div class="services-content">
    <div class="about-banner">
        <h2>WEBSITE AND MOBILE APP DEVELOPMENT IN UGANDA</h2>
        <P>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <div class="web-design d-flex justify-content-between mt-4">
        <div class="web-text ml-3">
            <h2>Proffesional web design</h2>
            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        </div>
        <div class="web-img image-div mr-3"><%= image_tag "sketchwebdesign.jpg", class: "d-block w-100 image-div2" %></div>
    </div>
    <div class="services-about my-3">
        <h2>ABOUT ODAVOLT WEB SERVICE</h2>
        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <div class="mobile-design d-flex justify-content-between mt-4">
        <div class="mob-img image-div ml-3"><%= image_tag "sketchmobdesign.jpg", class: "d-block w-100 image-div2" %></div>
        <div class="web-text mx-3">
            <h2>Proffesional mobile design</h2>
            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        </div>
    </div>
</div>