@import 'bootstrap/dist/css/bootstrap';

@font-face {
    font-family: 'Gotham-Bold';
    src: url("fonts/Gotham-Bold.otf");
  }
  
  @font-face {
    font-family: 'Gotham-Rounded-Light';
    src: url("fonts/Gotham\ Rounded\ Light.otf");
  }
  
  @font-face {
    font-family: 'Helvetica-Neue-Medium';
    src: url("fonts/HelveticaNeue.ttc");
    font-weight: 600;
  }

body {
    font-family: 'Gotham-Rounded-Light';
  }

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.contacts {
    background: gold;
    text-align: right;
}

.contacts p {
    font-weight: 700;
}

.nav-bar {
    background: black;
}

.nav-links li{
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links li a:hover {
    color: gold;
}

.home-container, .about-content, .services-content, .contact-content {
    margin-top: 95px;
}

.div-image {
    width: 100%;
    height: 550px;
}

.c-caption {
    font-size: 3em;
    font-weight: 500;
}

.who-we-are, .what-we-offer {
    text-align: center;
}

.who-we-are h1, .what-we-offer h1 {
    font-family: 'Gotham-bold', sans-serif;
    border-bottom: 1px solid gold ;
}

.what-we-offer {
    background: black;
    color: white;
}

.offer-4 h5 {
    font-family: 'Helvetica-Neue-Medium, sans-serif';
    color: gold; 
}

.web-text h2 {
    font-family: 'Helvetica-Neue-Medium, sans-serif';
}

.image-div {
    width: 50%;
}

.image-div1 {
    border-radius: 50%;
}

.image-div2 {
    height: 350px;
}

.bottom-contacts {
    background: black;
    color: white;
    text-align: center;
}

.bottom-contacts h5 {
    color: gold;
}

.footer-content {
    border-bottom: 1px solid white;
}

// About page designs

.about-banner {
    text-align: center;
    background-image: image-url(sketchwebdesign.jpg);
    color: white;
    padding: 100px;
    background-repeat: no-repeat;
}

.about-banner h2 {
    font-family: 'Gotham-bold', sans-serif;
}

.solutions {
    text-align: center;
}

.solutions-heading h3 {
    font-weight: bolder;
}

.MVC {
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.MVC h4 {
    color: gold;
}

// End about page designs

// Services page designs

.services-about {
   text-align: center;
   background: black;
   color: white;
   padding: 20px; 
}

// end services page designs

// contact page designs

.contact-form {
    width: 60%;
}

// end contact page designs